## Lectura e intregración de datos meteorológicos

**Importación de librerias**

In [3]:
import pandas as pd

**Lectura de ambos sets de datos (misma rango temporal distintas variables)**

In [4]:
df_1 = pd.read_csv("POWER LARC 1.csv")
df_1.head()

,YEAR,MO,DY,T2M_MIN,QV2M,RH2M,PRECTOTCORR,PS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE
0,2021,1,1,9.87,7.50,81.35,1.92,97.00,7.16,10.23,3.44,6.79,10.21,13.93,6.00,7.93
1,2021,1,2,7.21,5.38,66.48,0.10,96.55,10.71,13.00,6.44,6.56,14.09,16.77,9.09,7.68
2,2021,1,3,4.99,4.84,74.74,1.95,97.43,7.42,9.42,6.07,3.35,9.48,11.42,8.46,2.96
3,2021,1,4,4.04,4.95,77.54,2.11,98.45,7.79,9.16,6.03,3.13,10.08,11.74,8.61,3.13
4,2021,1,5,5.60,5.70,74.94,0.17,98.60,6.30,7.91,3.00,4.91,8.61,10.11,5.49,4.62

In [5]:
df_2 = pd.read_csv("POWER LARC 2.csv")
df_2.head()

,YEAR,MO,DY,ALLSKY_SFC_SW_DWN,CLRSKY_SFC_SW_DWN,ALLSKY_SFC_SW_DNI,ALLSKY_SFC_SW_DIFF,ALLSKY_KT,ALLSKY_SFC_LW_DWN,ALLSKY_SFC_PAR_TOT,...,ALLSKY_SFC_UVA,ALLSKY_SFC_UVB,ALLSKY_SFC_UV_INDEX,WS2M,T2M,T2MDEW,T2MWET,TS,T2M_RANGE,T2M_MAX
0,2021,1,1,4.32,9.02,4.69,2.35,0.36,7.87,2.04,...,0.28,0.01,1.52,5.11,12.33,9.18,10.76,11.80,5.04,14.91
1,2021,1,2,7.82,9.37,11.92,1.36,0.64,6.75,3.46,...,0.45,0.01,2.35,7.83,10.47,4.33,7.40,10.55,6.14,13.35
2,2021,1,3,6.36,9.41,6.19,3.02,0.53,6.88,2.83,...,0.38,0.01,2.08,5.56,7.24,2.92,5.08,8.26,4.49,9.48
3,2021,1,4,4.55,9.18,1.79,3.53,0.38,7.27,2.08,...,0.30,0.01,1.60,5.80,7.15,3.41,5.28,7.80,6.02,10.06
4,2021,1,5,6.41,9.13,6.15,3.56,0.53,7.24,2.90,...,0.39,0.01,2.10,4.55,9.87,5.45,7.66,10.01,7.65,13.25

**Unión de ambos sets de datos**

In [6]:
df_unido = pd.merge(df_2, df_1, on=['YEAR', 'MO', 'DY'], how='inner')
df_unido.head()

,YEAR,MO,DY,ALLSKY_SFC_SW_DWN,CLRSKY_SFC_SW_DWN,ALLSKY_SFC_SW_DNI,ALLSKY_SFC_SW_DIFF,ALLSKY_KT,ALLSKY_SFC_LW_DWN,ALLSKY_SFC_PAR_TOT,...,PRECTOTCORR,PS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE
0,2021,1,1,4.32,9.02,4.69,2.35,0.36,7.87,2.04,...,1.92,97.00,7.16,10.23,3.44,6.79,10.21,13.93,6.00,7.93
1,2021,1,2,7.82,9.37,11.92,1.36,0.64,6.75,3.46,...,0.10,96.55,10.71,13.00,6.44,6.56,14.09,16.77,9.09,7.68
2,2021,1,3,6.36,9.41,6.19,3.02,0.53,6.88,2.83,...,1.95,97.43,7.42,9.42,6.07,3.35,9.48,11.42,8.46,2.96
3,2021,1,4,4.55,9.18,1.79,3.53,0.38,7.27,2.08,...,2.11,98.45,7.79,9.16,6.03,3.13,10.08,11.74,8.61,3.13
4,2021,1,5,6.41,9.13,6.15,3.56,0.53,7.24,2.90,...,0.17,98.60,6.30,7.91,3.00,4.91,8.61,10.11,5.49,4.62

**Tratamiento de las columnas de fechas para que sean compatibles a los datos de toxinas**

In [7]:
df_unido['Fecha'] = pd.to_datetime(
    df_unido[['YEAR', 'MO', 'DY']].rename(columns={'YEAR': 'year', 'MO': 'month', 'DY': 'day'})
)
df_unido.head()

,YEAR,MO,DY,ALLSKY_SFC_SW_DWN,CLRSKY_SFC_SW_DWN,ALLSKY_SFC_SW_DNI,ALLSKY_SFC_SW_DIFF,ALLSKY_KT,ALLSKY_SFC_LW_DWN,ALLSKY_SFC_PAR_TOT,...,PS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,Fecha
0,2021,1,1,4.32,9.02,4.69,2.35,0.36,7.87,2.04,...,97.00,7.16,10.23,3.44,6.79,10.21,13.93,6.00,7.93,2021-01-01
1,2021,1,2,7.82,9.37,11.92,1.36,0.64,6.75,3.46,...,96.55,10.71,13.00,6.44,6.56,14.09,16.77,9.09,7.68,2021-01-02
2,2021,1,3,6.36,9.41,6.19,3.02,0.53,6.88,2.83,...,97.43,7.42,9.42,6.07,3.35,9.48,11.42,8.46,2.96,2021-01-03
3,2021,1,4,4.55,9.18,1.79,3.53,0.38,7.27,2.08,...,98.45,7.79,9.16,6.03,3.13,10.08,11.74,8.61,3.13,2021-01-04
4,2021,1,5,6.41,9.13,6.15,3.56,0.53,7.24,2.90,...,98.60,6.30,7.91,3.00,4.91,8.61,10.11,5.49,4.62,2021-01-05

In [8]:
df_unido= df_unido.drop(columns=['YEAR', 'MO', 'DY'])

# Reordenar columnas, poniendo 'Fecha' al principio
columnas = ['Fecha'] + [col for col in df_unido.columns if col != 'Fecha']
df_unido = df_unido[columnas]
df_unido.head()

,Fecha,ALLSKY_SFC_SW_DWN,CLRSKY_SFC_SW_DWN,ALLSKY_SFC_SW_DNI,ALLSKY_SFC_SW_DIFF,ALLSKY_KT,ALLSKY_SFC_LW_DWN,ALLSKY_SFC_PAR_TOT,CLRSKY_SFC_PAR_TOT,ALLSKY_SFC_UVA,...,PRECTOTCORR,PS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE
0,2021-01-01,4.32,9.02,4.69,2.35,0.36,7.87,2.04,4.06,0.28,...,1.92,97.00,7.16,10.23,3.44,6.79,10.21,13.93,6.00,7.93
1,2021-01-02,7.82,9.37,11.92,1.36,0.64,6.75,3.46,4.09,0.45,...,0.10,96.55,10.71,13.00,6.44,6.56,14.09,16.77,9.09,7.68
2,2021-01-03,6.36,9.41,6.19,3.02,0.53,6.88,2.83,4.08,0.38,...,1.95,97.43,7.42,9.42,6.07,3.35,9.48,11.42,8.46,2.96
3,2021-01-04,4.55,9.18,1.79,3.53,0.38,7.27,2.08,4.05,0.30,...,2.11,98.45,7.79,9.16,6.03,3.13,10.08,11.74,8.61,3.13
4,2021-01-05,6.41,9.13,6.15,3.56,0.53,7.24,2.90,4.04,0.39,...,0.17,98.60,6.30,7.91,3.00,4.91,8.61,10.11,5.49,4.62

**Exportación**

In [9]:
df_unido.to_csv('POWER_LARC_unido.csv', index=False)